/* Folha de estilo do site Confeitaria Arcanjo
@autor Nathalia Alves Rosário */

/* Layout *********************************** */

/* Variáveis */
:root {
    --marrom: #492900;
    --marromEscuro: #362104;
    --marromMuitoEscuro: #221708;
    --marromBemEscuro: #150e04;
    --cinza: #ebe7e7;
    --branco: #ffffff;
    --preto: #000000;
    --dourado: #75530b;
    --beje: #FECDA5;
    --bejeEscuro: #4b2a00;
    --amareloTitulo: #de9c38;
}

/* CSS Reset (para padronizar os diversos tipos de navegadores) */
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: "Open Sans", sans-serif;
}

.container {
    display: flex;
    /* centralizar o container */
    margin: 0 auto;
}

/* Botão */
.btn {
    text-decoration: none;
    font-size: 1.3rem;
    font-weight: 700;
    background-color: var(--bejeEscuro);
    padding: 9px 20px;
    color: var(--branco);
    border-radius: 25px;
    border: 2px solid var(--amareloTitulo);
    align-items: center;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.897);
}

/* Fim - Layout ***************************** */


/* Smartphone portrait ********************** */

/* Cabeçalho */
header {
    height: 65px;
    background-color: var(--marrom);
}

.logo img {
    width: 128px;
    height: 128px;
}

/* esconder um elemento */
#check {
    display: none;
}

label {
    font-size: 2rem;

    /* para deixar o botão com transparencia */
    color: rgba(117, 83, 11, 0.75);

    /* deixa o elemneto fixo pra sempre */
    position: fixed;

    /* colocar a posição em que ele vai ficar fixo */
    top: 5px;
    right: 15px;
}

nav ul {
    /* como remover as bolinhas da lista */
    list-style: none;
    height: 100vh;
    position: fixed;
    top: 60px;
    background-color: rgba(79, 49, 11, 0.85);
    width: 55%;
    /* definir para o tamanho da tela */
    right: -55%;
    /* ajustar o width */
    /* transição */
    transition: all 0.5s;
}

/* ação para a caixa check */
/* quando selecionada mudar ul */
#check:checked~ul {
    right: 0px;
}


nav ul li {
    padding: 20px;
    border-bottom: 1px solid var(--dourado);
    text-align: right;
}

nav ul li a {
    /* remover o sublinhado de links(texto)*/
    text-decoration: none;
    color: var(--amareloTitulo);

}

/* principal */
main {
    /* 50% da altura da tela */
    height: 70vh;
    background:
        linear-gradient(rgba(44, 28, 7, 0.53), rgb(53, 31, 0.5)),
        /* camada escura */
        url(img/lista_brigadeiro.jpg);
    /* minha imagem */
    background-size: cover;
    background-position: center;
    /* cor do texto em cima da imagem */
    color: #fff;
}

main .container {
    /* relativo ao main */
    height: 100%;
    flex-direction: column;
    align-items: center;
    /* centraliza no meio do banner */
    justify-content: center;
    text-align: center;
    margin: 0 auto;
}

main h1 {
    font-family: 'Trajan Color';
    color: var(--amareloTitulo);
    font-size: 2rem;
    font-weight: 400;
    margin-top: 20px;
    text-shadow: 0px 5px 10px var(--preto), 0px 10px 10px rgba(0, 0, 0, 0.15), 0px 15px 15px rgba(0, 0, 0, 0.1), 0px 20px 20px rgba(0, 0, 0, 0.1);
}

main h2 {
    font-family: 'Raleway';
    color: var(--branco);
    font-size: 1.39rem;
    font-weight: 200;
    margin-top: 25px;
    margin-bottom: 80px;

}

/* Destaque */
#destaque {
    padding: 50px 10px;
    background:
        linear-gradient(rgba(43, 25, 1, 1), rgba(222, 156, 56, 0.5)),
        /* camada escura */
        url(img/destaque.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;

}

#destaque .container {
    flex-direction: column;
}

#hero {

    text-align: center;
}

#hero img {
    width: 300px;
    /* mudar o tamanho */
    height: 300px;
    margin-bottom: 25px;

}

.hero-text h2 {
    /* text-shadow: 0px 5px 10px var(--preto), 0px 10px 10px rgba(0, 0, 0, 0.15), 0px 15px 15px rgba(0, 0, 0, 0.1), 0px 20px 20px rgba(0, 0, 0, 0.1); */
    font-family: 'Trajan Color';
    color: var(--amareloTitulo);
    font-size: 1.6rem;
    margin-bottom: 15px;
}

.hero-text p {
    /* text-shadow: 0px 5px 10px var(--preto), 0px 10px 10px rgba(0, 0, 0, 0.15), 0px 15px 15px rgba(0, 0, 0, 0.1), 0px 20px 20px rgba(0, 0, 0, 0.1); */
    color: var(--branco)
}

.topic {
    display: flex;
    align-items: center;
    /* separação de um topico para outro */
    margin-top: 15px;
    color: var(--branco);
}

.topic p {
    margin-left: 15px
}

/* sobre */
#sobre {
    padding: 50px 10px;
    background-color: rgba(82, 46, 0, 1);
}

#sobre .container {
    flex-direction: column;

}

#video iframe {
    width: 355px;
    height: 196px;
    margin-top: 25px;



}

.sobre-text h2 {
    color: #de9c38;
    margin-top: 20px;
    font-family: 'Trajan Color';
    margin-bottom: 15px;
}

.sobre-text p {
    /* font-family: 'Roboto', sans-serif; */
    color: var(--branco);
    font-size: 1.0rem;
}

/* cardapio */
#cardarpio {
    padding: 50px 10px;
    background:
        linear-gradient(rgba(43, 25, 1, 1), rgba(222, 156, 56, 0.5)),
        /* camada escura */
        url(img/destaque.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}





/* Fim - Smartphone portrait ********************** */


/* Smartphone landscape *************************** */
@media (min-width: 576px) {

    /* layout */
    .container {
        max-width: 540px;
    }

    /* cabeçalho */
    nav ul {
        width: 35%;
        /* definir para o tamanho da tela */
        right: -35%;
        /* ajustar o width */
        /* transição */
        transition: all 0.5s;
    }

    /* principal */
    main {
        height: 80vh;
    }

    main h1 {
        margin-top: 10px;
        font-size: 2rem;
        text-align: center;

    }

    main h2 {
        font-size: 1.5rem;
        margin-bottom: 30px;
        margin-top: 25px;
        text-align: center;
    }

    /* destaque */

    /* identificador usa o (#) e quando é classe usa o (.)*/
    #destaque {
        padding: 50px 0px;
    }

    #destaque .container {
        flex-direction: row;
        align-items: center;
    }

    .hero {
        text-align: left;
    }

    #hero img {
        width: 250px;
        /* mudar o tamanho */
        height: 250px;
        margin: 0px 25px 0px 0px;
    }

    .topic {
        /* esconder icones */
        display: none;
    }

    /* * sobre */

    #video iframe {
        width: 560px;
        height: 315px;
        margin-top: 25px;

    }
}


/* Fim - Smartphone landscape ********************* */


/* Tablet portrait********************************* */

@media (min-width: 768px) {


    /* layout */
    .container {
        max-width: 720px;

    }

    /* principal main */
    main h1 {
        font-size: 3.9rem;
    }

    main h2 {
        font-size: 2rem;
        margin-bottom: 70px;
    }
}

/* Fim -Tablet portrait********************************* */


/* Tablet landscape ************************************ */
@media (min-width: 992px) {

    /* layout */
    .container {
        max-width: 960px;
    }
}


/* Fim - Tablet landscape **************************** */


/* Notebook / PC - HD ******************************* */
@media (min-width: 1200px) {

    /* layout */
    .container {
        justify-content: space-between;
        max-width: 1140px;

    }

    /* cabeçlho */
    header {
        height: 100px;
    }

    .logo img {
        width: 190px;
        height: 190px;
    }

    label {
        display: none;
    }

    nav ul {
        /* desafixar um elemento que foi fixado (padrão)*/
        position: static;
        width: 100%;
        height: auto;
        background-color: transparent;
        margin-top: 20px;
        margin-right: 10px;
    }

    nav ul li {
        float: left;
        border: 0;
    }

    /* cursou erm cima do link (só funciona no computador) */
    nav ul li a:hover {
        color: var(--preto);
    }


    /* principol */
    main {
        height: 85vh;
    }

    main h1 {
        font-size: 9rem;
        text-align: center;
    }

    main h2 {
        font-size: 2rem;
        text-align: center;
    }


    /* destaque */

    #destaque {
        /* efeito paralax (a imagem não anda) */
        background-attachment: fixed;
    }

    .hero img {
        width: 400px;
        height: 400px;


    }

    .hero-text h2 {
        font-size: 2rem;
    }

    .topic {
        display: none;
    }

    /* * sobre */

    #video iframe {
        margin: 0px 0px 0px 50px;

    }

    #sobre .container {
        flex-direction: row;
        align-items: center;

    }

    .sobre-text h2 {
        font-size: 2rem;

    }
}



/* Fim - Notebook / PC - HD ************************* */


/* Notebook / PC / TV - Full HD ou 4K *************** */
@media (min-width: 1400px) {
    .container {
        max-width: 1320px;
    }

    /* principal */
    main h1 {
        font-size: 3rem;
    }
}

/* Fim - Notebook / PC / TV - Full HD ou 4K ******* */